* {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

body {
  background-color: #dcd0f0;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.container {
  max-width: 50vw;
  margin: 0 auto;
  padding: 20px;
}
/* Default Sidebar Navbar */
.navbar {
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #200a2b;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar a {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #6a0689;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  background-color: #551c68;
  padding: 10px;
  border-radius: 5px;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .navbar {
    transform: translateX(-100%);
  }

  .hamburger {
    display: block;
  }

  .navbar.show {
    transform: translateX(0);
  }
}

.search-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#searchInput {
  width: 70%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#searchButton {
  background-color: #640568;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#searchButton:hover {
  background-color: #3d0641;
}

#searchResults {
  margin-top: 20px;
  padding: 15px;
  background: #f8f8f8;
  border-radius: 5px;
  min-height: 50px;
  border: 1px solid #ccc;
}

.card-result {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.card-result:last-child {
  border-bottom: none;
}

.card-result h2 {
  color: #640568;
}

.card-result p {
  font-size: 14px;
  color: #333;
}
